%table#members
  %thead
    %tr
      %th= 'Member'
      %th= 'Sensekey'
  %tbody
    - members_and_keys.each do |member, key|
      %tr
        %td= member
        %td= key
        %td= button_tag 'Lexlink', :name => :create_lexlink, :value => key
