
= form_tag query_path do
  %table#wordnet_query
    %tbody
      %tr
        -#%td= label :wn, :query, 'Query'
        -#%td= label :wn, :pos, 'Part of Speech'
        %td= link_to_function 'Query', "$('input#wordnet_query').toggle()"
        %td= link_to_function 'Part of Speech', "$('input#wordnet_pos').toggle()"
        %td
      %tr
        %td= text_field :wordnet, 'query', :value => queryval, :size => '15'
        %td= text_field :wordnet, 'pos', :value => queryval_pos, :size => '6'
        %td= check_box :wordnet, 'exact_match', :checked => query_exact=='1' ? true : nil

  = submit_tag 'Submit query', :name => 'submit_wordnet_query'

%br
%br

- if wnresults
  - wnresults.synsets.each do |synset|
    - if synset.pos.nil? && synset.definition.nil?
      = "No result found"
      - next
    = label :wn, :synsetid, 'Synsetid'
    = synset.synsetid
    %br
    = button_tag 'Edit', :name => :synsetid, :value => synset.synsetid
    = button_tag 'Semlink', :name => :create_semlink, :value => synset.synsetid
    %br
    = label :wn, :definition, 'Definition'
    = "(#{synset.pos}) #{synset.definition}"
    = render_members_and_keys(synset.members_and_keys)
    %br

