-# edit.html.haml using partial

%body
  = form_tag edit_edit_path(@edit), :id => 'editsform', :method => :put do |f|
    #header
      = ''
    #container
      
      .column#center
        %h1 WordNet Query
        = render_wordnet_interface f

      .column#left
        %h1 Make a Change
        %table#basicinfo
          %tbody
            %tr
              %td= link_to_function 'Synsetid', "$('input#edit_synsetid').toggle()"
              %td= link_to_function 'Part of Speech', "$('input#edit_pos').toggle()"
            %tr
              %td= text_field :edit, 'synsetid', :size => '5', :readonly => 'readonly'
              %td= text_field :edit, 'pos', :size => '5'
        %br
        = link_to_function 'Definition', "$('textarea#edit_definition').toggle()"
        = text_area :edit, 'definition', :size => '10x8'
        %br
        = link_to_function 'Synset Members', "$('table#members').toggle()"
        %br
        %table#members
          %thead
            %tr  
              %th
              %th= 'Word'
              %th= 'Sensekey'
          %tbody
            - @edit.members.each_pair do |member, key|
              %tr
                %td= check_box :check_box, 'delete_'+member
                %td= text_field :members, 'old_'+member, 'value' => member, :size=>'10'
                %td= text_field :members, ('old_'+member+'|'+'old_'+key), 'value' => key, :size=>15
        = @message
        %br
        = submit_tag 'Update Info', :name => 'update_members'
        = submit_tag 'Add member', :name => 'add_member'
        = submit_tag 'Delete checked', :name => 'delete_members'

        %br
        = link_to 'Return to list', edits_path
        %br
        %br
        = render_semlinks f, @edit
        %br
        = render_lexlinks f, @edit

        %br



      .column#right
        = render_freebase_interface f



    #footer
      = debug params
      = debug session
  %br
  %br
