-#  This file is app/views/edits/index.html.haml
%h1= "All Edits #{flash[:notice]}"

= link_to 'Add new synset', edit_edit_path(0)
%table#edits
  %thead
    %tr
      %th{:class=>("hilite" if @sort_by=="synsetid")}= link_to "Synsetid", {:sort_by => "synsetid", :sort_direction=>(sort_for_column("synsetid"))}, :id => "synsetid_header"
      %th#definition_header{:class=>("hilite" if @sort_by=="definition")}= link_to "Definition", {:sort_by=> "definition", :sort_direction=>(sort_for_column("definition"))}, :id => "definition_header"
      %th#members_header{:class=>("hilite" if @sort_by=="members")}= link_to "Members", {:sort_by=> "members", :sort_direction=>(sort_for_column("members"))}, :id => "members_header"
      %th 
      %th#lexdomainid_header{:class=>("hilite" if @sort_by=="lexdomainid")}= link_to "LID", {:sort_by=> "lexdomainid", :sort_direction=>(sort_for_column("lexdomainid"))}, :id => "lexdomainid_header"
      %th
      %th= button_to "apply all", apply_all_path
      %th#updated_at_header{:class=>("hilite" if @sort_by=="updated_at")}= link_to "Last Updated", {:sort_by=> "updated_at", :sort_direction=>(sort_for_column("updated_at"))}, :id => "updated_at_header"
  %tbody
    - @all_edits.each do |edit|
      %tr
        %td= edit.synsetid 
        %td= edit.definition
        %td= edit.members.keys.join(", ")
        %td= link_to "edit", edit_edit_path(edit)
        %td= edit.lexdomainid
        -#%td= link_to "view", edit_path(edit)
        %td= button_to "delete", edit, :method=>:delete, :class=>:destroy
        %td= button_to "apply", edit, :method=>:post, :class=>:apply
        %td= edit.updated_at

%br
= link_to 'Add new synset', edit_edit_path(0)
%br
%br
= link_to 'Logout', logout_path
