= link_to_function 'Semantic Links', "$('#semlinks').toggle()"

#semlinks
  %table#semlinks
    %thead
      %tr  
        %th
        %th= 'Relationship'
        %th= 'Synset2id'
    %tbody
      - semlinks.each do |link, synset2id|
        %tr
          %td= check_box :check_box, "delete_#{link}_#{synset2id}"
          %td= select :semlinks, "#{link}_#{synset2id}", all_links, :selected => link, 'value' => link
          %td= text_field :semlinks, ("#{link}|#{synset2id}"), 'value' => synset2id, :size=>8
